.HomeStyling {
    background-color: #F2F2F2;
}

/**  BACKGROUND IMAGE */
.HomeScreenBackgroundOverlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    z-index: 20;
}

.HomeScreenBackground {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/homepage/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.HomeScreenBackgroundContainer {
    position: absolute;
    z-index: 10;
    width: 35%;
    color: white;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.HomeScreenBackgroundContainer h1 {
    font-size: xxx-large;
    animation: fadeIn 2.5s;
    transform: translateY(0);
}

.HomeScreenBackgroundContainer p {
    animation: fadeIn 2.5s;
    transform: translateY(0);
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0);}
}

.scrollDownArrow {
    position: absolute;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    bottom: 1%;
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.scrollDownArrowIcon {
    width: 34px !important;
    height: 34px !important;
    color: white;
}


/**  LEARN HOW TO */

.LearnHowToContainer {
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 4rem;

}

.HomepageCardContainer {
    width: 1180px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.HomepageCard {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 10px;
}
.HomepageCardImage {
    width: 380px;
    height: 380px;
}

.HomepageCardImage img {
    width: 100%;
}

/**  INFORMATION SECTION */

.InformationSection {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;

}

.InformationContainer {
    display: flex;
    justify-content: space-between;
    width: 1180px;
}

.InformationSectionText {
    width: 480px;
}

.InformationSectionImage {
    width: 700px;
    padding-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:120px;
}

.InformationSectionImage img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 480px;
}

/**  EMPTY DIV */

.EmptyDiv {
    height: 10px;
    width: 100%;
}