.ccsubtopic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ccsubtopic-container .form-field {
    margin-bottom: 10px;
}

.ccsubtopic-container .button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust the gap as needed */
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin-top: 10px;
}

.ccsubtopic-container .button {
    width: 100%;
}

.SubTopicContentContainer {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.SubTopicContentInputContainer {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.SubTopicContentInputContainer input {
    width: 100% !important;
}

.CreateSubTopicContentButtonContainer button {
    margin-top: 20px;
    padding: 10px 14px;
    background-color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    color: black;
    box-shadow: none;
}


.SubTopicContentInputContainer button {
    padding: 12px 10px;
    margin-left: 10px;
    background-color: #f44336; /* Red color for delete action */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.SubTopicContentInputContainer button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.CreateSubTopicContentButtonContainer button:hover {
    background: #e7e7e7;
}

/*

rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50

 */